html, body, #sapper {
	height: 100vh;
	overflow: hidden;
	font-size: 12px;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2rem;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1rem - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2rem 0.4rem;
	border-radius: 2px;
}

label {
	display: flex;
	flex-flow: column;
}

button {
	background: white;
	border: 1px solid #333;
}

button:hover {
	background: #eee;
}

#sapper {
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-flow: row;
}
.row-centered {
	display: flex;
	flex-flow: row;
	align-items: center;
}
.row-ends {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.col {
	display: flex;
	flex-flow: column;
}
.hide-overflow {
	overflow: hidden;
}
.scroll-overflow {
	overflow: scroll;
}
.vspace {
	margin-top: 5px;
	margin-bottom: 5px;
}
.grow {
	flex-grow: 1;
}
